# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# SSH keys
*.pem

# Node
node_modules/

# Python virtual environment
venv/
.env
__pycache__/
*.pyc

# Logs
*.log

.terraform/
